body{background-color: lightgray;}
#cabecalho{background-color: lightskyblue;}
.cabecalho1{
    border: 5px solid darkblue;
    background-color: bisque;
    height: 180px;
}
#titulo{
    display: inline;
    position: absolute;
    left: 850px;
    top: 40px;
    color: green;
    font-size: 35pt;
}
#imagem2{
    position: absolute;
    left: 1750px;
    top: 15px;
}
a:link{
    color: brown;
    font-size: 15pt;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal; 
    vertical-align: middle;
    margin-left: 610px; 
    position:absolute;
    text-decoration: none;
}
a:visited{color: brown;text-decoration: none}
#a2{margin-left: 200px; position:relative;}
#a3{margin-left: 400px; position:relative;}
#a4{margin-left: 600px; position:relative;}
#titulo2{
    color: black; 
    text-align: center; 
    font-family: 'Times New Roman', Times, serif;
    font-size: 25pt;
}
.paragrafo1{
    color: #562870;
    text-align: center;
    font-family: sans-serif;
    font-size: 20pt;
}